.todo{
  color: #000;
  z-index: 5;
 font-family: "Inknut Antiqua";
 font-size: 12px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
}
.logo{
  z-index: 5;
  position: absolute;
  top: 560px;
  left: 1270px;
  width: 100px;
  height: 100px;
}
.paises{
  color: #000;
font-family: "Inknut Antiqua";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.inknut-antiqua-light {
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: normal;
}

.inknut-antiqua-regular {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.inknut-antiqua-medium {
  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  font-style: normal;
}

.inknut-antiqua-semibold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
}

.inknut-antiqua-bold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
}

.inknut-antiqua-extrabold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 800;
  font-style: normal;
}

.inknut-antiqua-black {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-style: normal;
}

.foto{
width: 80%;
height: 1000px;
position: absolute;
left: 280px;
top: -30%;
z-index: 3;
 
}

#timer {
  display: flexbox;
position: absolute;
left: 730px;
top: 40px;
width: 154px;
height: 58px;

}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
 .relleno1{
  background-color:#1ABFED ;
  position: absolute;
  top: 610px;
  left: 275px;
  width: 1070px;
  height: 30px;
  z-index: 4;
 }
 .relleno2{
   z-index: 4;
  background-color:#1ABFED ;
  position: absolute;
  top: 0px;
  left: 275px;
  width: 1070px;
  height: 30px;
 }
#pauseBtn {
  color: white;
  position: absolute;

top: 580px;
left: 5px;
}

/* 🔒 Overlay oscuro cuando se pausa */
#pauseOverlay {
  display: none; /* empieza oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boton {
  background-color: #ffffff;
  color: #222;
  font-weight: bold;
  width: 200px;
  margin: 10px;
  padding: 10px 0;
}

.boton:hover {
  background-color: #ddd;
}
.todo{
display: flex;
gap: 15px;
justify-content: center;
align-items: center;
}
.color-jugador{
  position: absolute;
  top: 40px;
  left:5px;
  width: 200px;
  height: 75px;
}
.atacar{
height: 75px;
width: 90px;
position: absolute;
top: 80px;
left: 5px;
border-color: .000;
background-color: #fff;
}
.Reagrupar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 80px;
left: 100px;
}


.Reponer{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 180px;
left: 5px;
}
.Canjear{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height: 75px ;
top: 180px;
left: 100px;
}
.Menu{
width: 250px;
height: 190px;
position: absolute;
top: 275px;
left: 5px;
display: flexbox;
}
.parar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 5px;
}
.terminar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 100px;
}
.tirar1{
width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 20px;
}
.tirar2{
 width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 120px;
}
.linea-medio{
width: 275px;
height: 640px;
position: absolute;
top: 0%;
left: 0%;
display: inline-block;
border-right: 5px solid black;
z-index: 7;
}
.fondo-costado{
  left: 0%;
  top: 0%;
  height: 100%;
  position: absolute;
}
.fichas{
  width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  border-radius: 50%; /* Esto lo convierte en un círculo */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fichas-amrillas{
    width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  border-radius: 50%; /* Esto lo convierte en un círculo */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
}
.fichas-rojas{
      width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  border-radius: 50%; /* Esto lo convierte en un círculo */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}
.fichas-azules{
    width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  border-radius: 50%; /* Esto lo convierte en un círculo */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}
.fichas-rosas{
      width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  border-radius: 50%; /* Esto lo convierte en un círculo */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: pink;
}
.fichas-negras{
      width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  border-radius: 50%; /* Esto lo convierte en un círculo */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.fichas-verdes{
      width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  border-radius: 50%; /* Esto lo convierte en un círculo */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
}

.japon{
  z-index: 100;
  font-size: 9px;
position: absolute;
top: 110px;
left: 1291px;
rotate: 50.284deg;
}
.fichas-japon{
  /* width: 20px; /* Ancho del círculo 
  height: 20px; Altura del círculo 
  border-radius: 50%; /* Esto lo convierte en un círculo 
  position: absolute;
  top: 5%;
  left: 90px; */
}
.china{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 200px;
left: 1240px;
}
.fichas-china{
  position: absolute;
  top: 230px;
  left: 1250px;
}
.kamchatka{
position: absolute;
top: 71px;
left: 1185px;
font-size: 9px;
rotate: -20.974deg;
z-index: 100;
}
.fichas-kamchatka{
  position: absolute;
  top: px;
  left: px;
}
.mongolia{
  font-size: 11px;
position: absolute;
top: 160px;
left: 1125px;
rotate: -12.689deg;
z-index: 100;
}
.fichas-mongolia{
  position: absolute;
  top: 185px;
  left: 1140px;
}
.israel{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 330px;
left: 1070px;
rotate: -26.584deg;
}
.fichas-israel{
  position: absolute;
  top: 320px;
  left: 1110px;
}
.aral{
  font-size: 11px;
position: absolute;
top: 100px;
left: 1055px;
rotate: -39.729deg;
z-index: 100;
}
.fichas-aral{
  position: absolute;
  top: 125px;
  left: 1070px;
}
.turquia{
  font-size: 11px;
  z-index: 100;
position: absolute;
top: 280px;
left: 1085px;
rotate: -2.959deg;
}
.fichas-turquia{
  position: absolute;
 top: 300px;
 left: 1145px;
}
.arabia{
  font-size: 11px;
position: absolute;
z-index: 100;
top: 340px;
left: 1120px;
rotate: -26.584deg;
}
.fichas-arabia{
  position: absolute;
  top: 370px;
  left: 1140px;
}
.india{
position: absolute;
top:290px;
left: 1213px;
font-size: 11px;
z-index: 100;
}
.fichas-india{
  position: absolute;
  top: 330px;
  left: 1213px;
}
.gobi{
  font-size: 11px;
position: absolute;
top: 215px;
left: 1165px;
rotate: -31.864deg;
z-index: 100;
}
.fichas-gobi{
  position: absolute;
  top: 240px;
  left: 1170px;
}
.malasia{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 280px;
left: 1275px;
rotate: -62.915deg;
}
.fichas-malasia{
  position: absolute;
  top: 275px;
  left: 1270px;
}
.iran{
  font-size: 11px;
  position: absolute;
top: 230px;
left: 1120px;
z-index: 100;
rotate: 36.548deg;
}
.fichas-iran{
  position: absolute;
  top: 270px;
  left: 1155px; 
}
.siberia{
  z-index: 100;
  font-size: 11px;
  position: absolute;
top: 110px;
left: 1130px;
}
.fichas-siberia{
  position: absolute;
  top: 115px;
  left: 1105px;
}
.taimir{
  font-size: 11px;
position: absolute;
top: 70px;
left: 1120px;
rotate: -34.79deg;
z-index: 100;
}
.fichas-taimir{
  position: absolute;
  top: 50px;
  left: 1130px;
}
.tartaria{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 60px;
left: 1080px;
rotate: -69.709deg;
}
.fichas-tartaria{
  position: absolute;
  top: 55px;
  left: 1075px;
}

.java{
  z-index: 100;
  font-size: 11px;
position: absolute;
left: 1300px;
top: 370px;
rotate: -55.576deg;
}
.fichas-java{
  position: absolute;
  top: px;
  left: px;
}
.australia{
  font-size: 11px;
  position: absolute;
  left: 1275px;
  top: 480px;
  z-index: 100;
}
.fichas-australia{
 position: absolute;
 top: 1275px;
 left: 480px;
}
.borneo{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 365px;
left: 1245px;
rotate: 86.094deg;
}
.fichas-borneo{
  position: absolute;
 top: 350px;
 left: 1250px;
}
.sumatra{
  z-index: 100;
  font-size: 9px;
  position: absolute;
  top: 415px;
  left: 1175px;
  rotate: 53.626deg;
  font-size: px;
}
.fichas-sumatra{
  position: absolute;
 top: 410px;
 left: 1175px;
}

.argentina{
position: absolute;
top: 497px;
left: 605px;
rotate: -54.494deg;
font-size: 11px;
z-index: 100;
}
.fichas-argentina{
  position: absolute;
 top: 500px;
 left: 650px;
}
.uruguay{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 450px;
left: 670px;
rotate: -25.885deg;
}
.fichas-uruguay{
  position: absolute;
 top: 450px;
 left: 680px;
}
.peru{
position: absolute;
top: 360px;
left: 600px;
font-size: 11px;
z-index: 100;
}
.fichas-peru{
  position: absolute;
 top: 355px;
 left: 630px;
}
.colombia{
  z-index: 100;
position: absolute;
top: 410px;
left: 585px;
font-size: 11px;
}
.fichas-colombia{
  position: absolute;
  top: 420px;
  left: 640px;
}
.brasil{
  z-index: 100;
position: absolute;
top: 400px;
left: 690px;
font-size: 11px;
}
.fichas-brasil{
 position: absolute;
 top: 400px;
 left: 740px;

}
.chile{
position: absolute;
top: 500px;
left: 588px;
rotate: -80.741deg;
font-size: 11px;
z-index: 100;
}
.fichas-chile{
 position: absolute;
 top: 530px;
 left: 595px;
}

.canada{
  z-index: 100;
  font-size: 11px;
  position: absolute;
  top: 90px;
  left: 440px;
}
.fichas-canada{
  position: absolute;
  top: 140px;
  left: 420px;
}
.california{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 260px;
left: 420px;
}
.fichas-california{
  position: absolute;
  top: 290px;
  left: 415px;
}
.terranova{
  z-index: 100;
position: absolute;
top: 180px;
left: 510px;
font-size: 11px;
}
.fichas-terranova{
  position: absolute;
  top: 180px;
  left: 560px;
}
.mexico{
  font-size: 11px;
position: absolute;
top: 320px;
left: 520px;
z-index: 100;
}
.fichas-mexico{
  position: absolute;
  top: 280px;
  left: 490px;
}
.yukon{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 160px;
left: 360px;
}
.fichas-yukon{
  position: absolute;
  top: 180px;
  left: 390px;
}
.alaska{
  font-size: 11px;
position: absolute;
top: 210px;
left: 300px;
z-index: 100;
}
.fichas-alaska{
  position: absolute;
  top: 240px;
  left: 305px;
}
.nuevaYork{
  font-size: 11px;
position: absolute;
top: 210px;
left: 475px;
z-index: 100;
}
.fichas-nuevayork{
  position: absolute;
  top: 210px;
  left: 480px;
}
.oregon{
  font-size: 11px;
position: absolute;
top: 240px;
left: 360px;
z-index: 100;
}
.fichas-oregon{
  position: absolute;
  top: 280px;
  left: 350px;
}
.labrador{
  z-index: 100;
  font-size: 10px;
position: absolute;
top: 135px;
left: 537px;
}
.fichas-labrador{
  position: absolute;
  top: 132px;
  left: 540px;
}
.groenlandia{
  font-size: 11px;
position: absolute ;
top: 53px;
left: 600px;
z-index: 100;
}
.fichas-groenlandia{
  position: absolute;
  top: 120px;
  left: 640px;
}

.espana{
  font-size: 11px;
position: absolute;
top: 350px;
left: 820px;
rotate: -11.932deg;
z-index: 100;
}
.fichas-españa{
  position: absolute;
  top: 330px;
  left: 825px;
}
.francia{
  z-index: 100;
position: absolute;
top: 280px;
left: 890px;
rotate: -27.8deg;
font-size: 11px;
}
.fichas-francia{
  position: absolute;
  top: 310px;
  left: 910px;
}
.alemania{
  font-size: 11px;
position: absolute;
top: 280px;
left: 955px;
rotate: 40.75deg;
}
.fichas-alemania{
  position: absolute;
  top: 290px;
  left: 955px;
}
.polonia{
  z-index: 100;
position: absolute;
top: 250px;
left: 1005px;
rotate: -2.959deg;
font-size: 11px;
}
.fichas-polonia{
  position: absolute;
  top: 280px;
  left: 1030px;
}
.inglaterra{
  z-index: 100;
position:absolute;
top: 230px;
left: 835px;
rotate: -26.93deg;
font-size: 11px;
}
.fichas-bretana{
  position: absolute;
  top: 260px;
  left: 850px;
}
.islandia{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 200px;
left: 725px;
rotate: -34.832deg;
}
.fichas-islandia{
  position: absolute;
  top: 220px;
  left: 760px;
}
.italia{
  z-index: 100;
position: absolute;
top: 350px;
left:  960px;
rotate: 64.444deg;
font-size: 11px;
}
.fichas-italia{
  position: absolute;
  top: 320px;
  left: 960px;
}
.rusia{
  z-index: 100;
position: absolute;
top: 180px;
left: 1020px;
font-size: 11px;
}
.fichas-rusia{
  position: absolute;
  top: 210px;
  left: 1060px;
}
.suecia{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 120px;
left: 910px;
rotate: -34.433deg;
}
.fichas-suecia{
  position: absolute;
  top: 140px;
  left: 930px;
}

.sahara{
position: absolute;
top: 420px;
left: 910px;
rotate: -17.162deg;
font-size: 11px;
z-index: 100;
}
.fichas-sahara{
  position: absolute;
  top: 470px;
  left: 925px;
}
.madagascar{
position: absolute;
top: 505px;
left: 1095px;
rotate: -76.904deg;
font-size: 11px;
z-index: 100;
}
.fichas-madagascar{
  position: absolute;
  top: 490px;
  left: 1090px;
}
.sudafrica{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 525px;
left: 1010px;
rotate: -42.892deg;
}
.fichas-sudafrica{
  position: absolute;
  top: 550px;
  left: 1045px;
}
.egipto{
  z-index: 100;
  font-size: 11px;
position: absolute;
top: 420px;
left: 1045px;
rotate: 15.172deg;
}
.fichas-egipto{
  position: absolute;
  top: 430px;
  left: 1070px;
}
.etiopia{
  font-size: 11px;
 position: absolute;
 top: 460px;
left: 1020px;
rotate: 15.878deg;
z-index: 100;
}
.fichas-etiopia{
  position: absolute;
  top: 450px;
  left: 1000px;
}
.zaire{
  z-index: 100;
  position: absolute;
  top: 480px;
  left: 970px;
  font-size: 11px;
}
.fichas-zaire{
  position: absolute;
  top: 515px;
  left: 987px;
}
