:root {
  --coloramericadelsur: #858489 ;
  --coloramericanorte: #CD8A6D ;
  --coloreuropa: #B4A7B3;
  --colorafrica: #B99682 ;
  --colorasia: #7E7882 ;
  --coloroceania: #6AB0CA ;
}


body {
background-color: #1ABFED;
width: 100%;
}
/*.foto{
width: 1071.7px;
height: 100%;
position: relative;
left: 270px;
top: 0%;
 
}*/
.americadelsur {
background-color: var(--coloramericadelsur);
}


.Americadelnorte {
background-color: var(--coloramericanorte);
}
.Africa {
  background-color: var(--colorafrica);
}
.Europa {
  background-color: var(--coloreuropa);
}
.Asia {
  background-color: var(--colorasia);
}
.Oceania {
  background-color: var(--coloroceania);
}
.timer{
display: flexbox;
position: absolute;
left: 780px;
top: 40px;
width: 154px;
height: 58px;
}
.todo{
display: flex;
gap: 15px;
justify-content: center;
align-items: center;
}
.color-jugador{
  position: absolute;
  top: 40px;
  left:5px;
  width: 200px;
  height: 75px;
}
.atacar{
height: 75px;
width: 90px;
position: absolute;
top: 80px;
left: 5px;
border-color: 5rem;
background-color: #fff;
}
.Reagrupar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 80px;
left: 100px;
}


.Reponer{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 180px;
left: 5px;
}
.Canjear{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height: 75px ;
top: 180px;
left: 100px;
}
.Menu{
width: 250px;
height: 190px;
position: absolute;
top: 275px;
left: 5px;
display: flexbox;}
.parar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 5px;
}
.terminar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 100px;
}
.tirar1{
width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 20px;
}
.tirar2{
 width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 120px;
}
.pausar-partida{
position: absolute;
top: 100%;
left: 5px;
}
.linea-medio{
width: 275px;
height: 100%;
position: absolute;
top: 0%;
left: 0%;
display: inline-block;
border-right: 5px solid black;
}
.linea-conector{
  border-left: 100%;
  border-left:dashed .2rem black;
}
.lineas-conectoras1{
  border-left:dashed .2rem black;
  rotate: -75deg;/*rotacion*/
  height: 8.5rem;/*cantidad  de puntos*/
 width: 1px;
 left: 840px;
 top: 400px;
 position: absolute;
 
}
.lineas-conectoras2{
  border-left:dashed .2rem black;
 rotate: -42deg;
 height: 3rem;
 width:300px ;
 left: 855px;
 top: 300px;
position: absolute;
}
.lineas-conectoras3{
  border-left:dashed .2rem black;
  rotate: 40deg;
  height: 6.3rem;
  width: 2px;
  left: 600px;
  top: 190px;
  position: absolute;

}
.lineas-conectoras4{
  border-left:dashed .2rem black;
  rotate: 45deg;
  height: 3.1rem;
  width: 1px;
  left: 590px;
  top: 120px;
  position: absolute;
}
.lineas-conectoras5{
  border-left:dashed .2rem black;
  rotate: -50deg;
  height: 4rem;
  width: 1px;
  left: 690px;
  top: 200px;
  position: absolute;
}
.lineas-conectoras6{
  border-left:dashed .2rem black;
  rotate: 65deg;
  height: 9.2rem; 
  width: 300px;
  left: 770px;
  top: 275px;
  position: absolute;
}
.lineas-conectoras7{
  border-left:dashed .2rem black;
  rotate: 100deg;
  height: 3.5rem;
  width: 200px;
  left: 700px;
  top: 340px;
  position: absolute;
}
.lineas-conectoras8{
  border-left:dashed .2rem black;
  rotate: 11deg;
  height: 2.5rem;
  width: 200px;
  left: 853px;
  top: 320px;
  position: absolute;
}
.lineas-conectoras9{
  border-left:dashed .2rem black;
  rotate: 100deg;
  height: 2.9rem;
  width: 1px;
  left: 923px;
  top: 260px;
  position: absolute;
}
.lineas-conectoras10{
  border-left:dashed .2rem black;
  rotate: 95deg;
  height: 1.6rem;
  width: 2px;
  left: 1260px;
  top: 110px;
  position: absolute;
}
.lineas-conectoras11{
  border-left:dashed .2rem black;
  rotate: 10deg;
  height: 2rem;
  width: 2px;
  left: 1100px;
  top: 420px;
  position: absolute;
}
.lineas-conectoras12{
  border-left:dashed .2rem black;
  rotate: 12.5deg;
  height: 3rem;
  width: 2px;
  left: 1070px;
  top: 405px;
  position: absolute;
}
.lineas-conectoras13{
  border-left:dashed .2rem black;
  rotate: -2.4deg;
  height: 6rem;
  width: 2px;
  left: 1045px;
  top: 366px;
  position: absolute;
}
.lineas-conectoras14{
  border-left:dashed .2rem black;
  rotate: -85deg;
  height: 1.6rem;
  width: 2px;
  left: 1130px;
  top: 510px;
  position: absolute;
}
.lineas-conectoras15{
  border-left:dashed .2rem black;
  rotate: -40deg;
  height: 1.5rem;
  width: 2px;
  left: 1245px;
  top: 500px;
  position: absolute;
}
.lineas-conectoras16{
  border-left:dashed .2rem black;
  rotate: -10deg;
  height: 1.5rem;
  width: 2px;
  left: 1300px;
  top: 460px;
  position: absolute;
}
.lineas-conectoras17{
  border-left:dashed .2rem black;
  rotate: 50deg;
  height: 2rem;
  width: 2px;
  left: 1280px;
  top: 170px;
  position: absolute;
}
.lineas-conectoras18{
  border-left:dashed .2rem black;
  rotate: -10deg;
  height: 1.5rem;
  width: 2px;
  left: 1330px;
  top: 450px;
  position: absolute;
}
.lineas-conectoras19{
  border-left:dashed .2rem black;
  rotate: 40deg;
  height: 1.3rem;
  width: 2px;
  left: 1210px;
  top: 420px;
  position: absolute;
}
.lineas-conectoras20{
  border-left:dashed .2rem black;
  rotate: 40deg;
  height: 1.3rem;
  width: 2px;
  left: 1290px;
  top: 370px;
  position: absolute;
}
.lineas-conectoras21{
  border-left:dashed .2rem black;
  rotate: deg;
  height: rem;
  width: px;
  left: px;
  top: px;
  position: absolute;
}
.japon{
position: absolute;
top: 135px;
left: 1285px;
}
.japon-foto{
position: absolute;
top: 120px;
left: 1265px;
width: 90px;
height: 90px;
rotate: 2deg;
}
.china{
position: absolute;
top: 237px;
left: 1250px;
}
.china-foto{
position: absolute;
top: 140px;
left: 1150px;
width: 225px;
height: 200px;
}
.kamchatka{
position: absolute;
top: 100px;
left: 1180px;
}
.kamchatka-foto{
position: absolute;
top: 75px;
left: 1109px;
width: 230px;
height: 85px;
}
.mongolia{
position: absolute;
top: 190px;
left: 1140px;
}
.mongolia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.israel{
position: absolute;
top: 350px;
left: 1105px;
}
.israel-foto{
position: absolute;
top: 332px;
left: 1060px;
width: 110px;
height: 110px;
}
.aral{
position: absolute;
top: 135px;
left: 1065px;
}
.aral-foto{
position: absolute;
top: 87px;
left: 1020px;
width: 110px;
height: 110px;
}
.turquia{
position: absolute;
top: 310px;
left: 1100px;
}
.turquia-foto{
position: absolute;
top: 275px;
left: 1045px;
width: 145px;
height: 120px;
}
.arabia{
position: absolute;
top: 380px;
left: 1127.5px;
}
.arabia-foto{
position: absolute;
top: 363px;
left: 1100px;
width: 90px;
height: 90px;
}
.india{
position: absolute;
top:345px;
left: 1220px;
}
.india-foto{
position: absolute;
top: 185px;
left: 1195px;
width: 82px;
height: 385px;
}
.gobi{
position: absolute;
top: 240px;
left: 1180px;
}
.gobi-foto{
position: absolute;
top: 215px;
left: 1135px;
width: 115px;
height: 110px;
}
.malasia{
position: absolute;
top: 300px;
left: 1295px;
}
.malasia-foto{
position: absolute;
top: 285px;
left: 1245px;
width: 110px;
height: 110px;
}
.iran{
position: absolute;
top: 230px;
left: 1130px;
}
.iran-foto{
position: absolute;
top: 175px;
left: 1053px;
width: 190px;
height: 190px;
}
.siberia{
position: absolute;
top: 140px;
left: 1133px;
}
.siberia-foto{
  position: absolute;
  top: 84px;
  left: 1095px;
  width: 125px;
  height: 115px;
}
.taimir{
position: absolute;
top: 100px;
left: 1125px;
}
.taimir-foto{
  position: absolute;
top: 79px;
left: 1081.5px;
width: 142px;
height: 70px;
}
.tartaria{
position: absolute;
top: 90px;
left: 1100px;
}
.tartaria-foto{
 position: absolute;
 top: 65px;
  left: 982px;
  width: 250px;
  height: 95px;
}

.java{
position: absolute;
left: 1320px;
top: 380px;
}
.java-foto{
  position: absolute;
  left: 1310px;
  top: 340px;
  height: 150px;
  width: 40px;
}
.australia{
  position: absolute;
  left: 1280px;
  top: 510px;
}
.australia-foto{
  width: 110px;
  height: 150px;
 position: absolute;
 left: 1240px;
 top: 452px;

}
.borneo{
position: absolute;
top: 390px;
left: 1270px;
}
.borneo-foto{
  width: 50px;
  height: 170px;
  position: absolute;
  top: 340px;
  left: 1255px;
}
.sumatra{
  position: absolute;
  top: 445px;
  left: 1200px;
}
.sumatra-foto{
  position: absolute;
  top: 436px;
  left: 1175px;
  height: 70px;
  width: 70px;
}

.argentina{
position: absolute;
top: 500px;
left: 620px;
}
.argentina-foto{
position: absolute;
top: 470px;
left: 600px;
width: 100px;
height: 100px;
}
.uruguay{
position: absolute;
top: 490px;
left: 660px;
}
.uruguay-foto{
position: absolute;
top: 490px;
left: 662px;
width: 74px;
height: 74px;
}
.peru{
position: absolute;
top: 440px;
left: 600px;
}
.peru-foto{
position: absolute;
top: 425px;
left: 572px;
width: 90px;
height: 100px;
}
.colombia{
position: absolute;
top: 385px;
left: 580px;
}
.colombia-foto{
position: absolute;
top: 380px;
left: 559px;
width: 100px;
height: 70px;
}
.brasil{
position: absolute;
top: 420px;
left: 680px;
}
.brasil-foto{
position: absolute;
top: 380px;
left: 630px;
width: 150px;
height: 145px;
}
.chile{
position: absolute;
top: 500px;
left: 585px;
}
.chile-foto{
position: absolute;
top: 500px;
left: 570px;
width: 80px;
height: 130px;
}

.canada{
position: absolute;
top: 140px;
left: 420px;
}
.canada-foto{
position: absolute;
top: 67px;
left: 363px;
width: 180px;
height: 180px;
}
.california{
position: absolute;
top: 300px;
left: 410px;
}
  .california-foto{
  position: absolute;
  top: 262px;
  left: 375px;
  width: 165px;
  height: 150px; 
  }
.terranova{
position: absolute;
top: 220px;
left: 497px;
}
.terranova-foto{
 position: absolute;
 top: px;
left: px;
width: px;
height: px;
}
.mexico{
position: absolute;
top: 330px;
left: 485px;
}
.mexico-foto{
position: absolute;
top: 314px;
left: 418px;
width: 180px;
height: 110px;
} 
.yukon{
position: absolute;
top: 210px;
left: 350px;
}
.yukon-foto{
position: absolute;
top: 130px;
left: 288px;
width: 170px;
height: 140px;
}
.alaska{
position: absolute;
top: 250px;
left: 300px;
}
.alaska-foto{
position: absolute;
top: 185px;
left: 245px;
width: 150px;
height: 135px;
}
.nuevayork{
position: absolute;
top: 240px;
left: 470px;
}
.nuevaYork-foto{
position: absolute;
top: 172.5px;
left: 427px;
width: 150px;
height: 145px;
}
.oregon{
position: absolute;
top: 260px;
left: 380px;
}
.oregon-foto{
position: absolute;
top: 231px;
left: 290px;
width: 180px;
height: 145px;
}
.labrador{
position: absolute;
top: 180px;
left: 530px;
}
.labrador-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.groenlandia{
position: absolute ;
top: 110px;
left: 610px;
}
.groenlandia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}


.espa単a{
position: absolute;
top: 370px;
left: 830px;
}
.espa単a-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;

}
.francia{
position: absolute;
top: 320px;
left: 900px;
}
.francia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.alemania{
position: absolute;
top: 310px;
left: 970px;
}
.alemania-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.polonia{
position: absolute;
top: 280px;
left: 1013px;
}
.polonia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.granbreta単a{
position:absolute;
top: 260px;
left: 840px;
}
.granbreta単a-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.islandia{
position: absolute;
top: 230px;
left: 735px;
}
.islandia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.italia{
position: absolute;
top: 380px;
left: 965px;
}
.italia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.rusia{
position: absolute;
top: 195px;
left: 1015px;
}
.rusia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.suecia{
position: absolute;
top: 140px;
left: 940px;
}
.suecia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}


.sahara{
position: absolute;
top: 480px;
left: 930px;
}
.sahara-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.madagascar{
position: absolute;
top: 520px;
left: 1110px;
}
.madagascar-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.sudafrica{
position: absolute;
top: 550px;
left: 1020px;
}
.sudafrica-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.egipto{
position: absolute;
top: 445px;
left: 1055px;
}
.egipto-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.etiopia{
 position: absolute;
 top: 485px;
left: 1030px;
}
.etiopia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.zaire{
  position: absolute;
  top: 520px;
  left: 990px;
}
.zaire-foto{
 position: absolute;
 top: px;
 left: px;
 width: px;
 height: px;
}
