.todo{
  color: #000;

 font-family: "Inknut Antiqua";
 font-size: 12px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
}
.paises{
  color: #000;

font-family: "Inknut Antiqua";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.inknut-antiqua-light {
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: normal;
}

.inknut-antiqua-regular {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.inknut-antiqua-medium {
  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  font-style: normal;
}

.inknut-antiqua-semibold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
}

.inknut-antiqua-bold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
}

.inknut-antiqua-extrabold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 800;
  font-style: normal;
}

.inknut-antiqua-black {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-style: normal;
}

.foto{
width: 80%;
height: 1000px;
position: absolute;
left: 280px;
top: -30%;
 
}
.timer{
display: flexbox;
position: absolute;
left: 730px;
top: 40px;
width: 154px;
height: 58px;
}
.todo{
display: flex;
gap: 15px;
justify-content: center;
align-items: center;
}
.color-jugador{
  position: absolute;
  top: 40px;
  left:5px;
  width: 200px;
  height: 75px;
}
.atacar{
height: 75px;
width: 90px;
position: absolute;
top: 80px;
left: 5px;
border-color: .000;
background-color: #fff;
}
.Reagrupar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 80px;
left: 100px;
}


.Reponer{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 180px;
left: 5px;
}
.Canjear{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height: 75px ;
top: 180px;
left: 100px;
}
.Menu{
width: 250px;
height: 190px;
position: absolute;
top: 275px;
left: 5px;
display: flexbox;
}
.parar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 5px;
}
.terminar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 100px;
}
.tirar1{
width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 20px;
}
.tirar2{
 width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 120px;
}
.pausar-partida{
position: absolute;
top: 100%;
left: 5px;
}
.linea-medio{
width: 275px;
height: 100%;
position: absolute;
top: 0%;
left: 0%;
display: inline-block;
border-right: 5px solid black;
}
.fondo-costado{
  left: 0%;
  top: 0%;
  height: 100%;
  position: absolute;
}
.fichas{
  width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  border-radius: 50%; /* Esto lo convierte en un círculo */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.japon{
position: absolute;
top: 110px;
left: 1285px;
rotate: 50.284deg;
}
.fichas-japon{
  width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  border-radius: 50%; /* Esto lo convierte en un círculo */
  position: absolute;
  top: 5%;
  left: 90px;
}
.china{
position: absolute;
top: 200px;
left: 1240px;
}
.fichas-china{
  position: absolute;
  top: 230px;
  left: 1250px;
}
.kamchatka{
position: absolute;
top: 75px;
left: 1182px;
font-size: 10px;
rotate: -20.974deg;
}
.fichas-kamchatka{
  position: absolute;
  top: px;
  left: px;
}
.mongolia{
position: absolute;
top: 160px;
left: 1125px;
rotate: -12.689deg;
}
.fichas-mongolia{
  position: absolute;
  top: 185px;
  left: 1140px;
}
.israel{
position: absolute;
top: 330px;
left: 1070px;
rotate: -26.584deg;
}
.fichas-israel{
  position: absolute;
  top: 320px;
  left: 1110px;
}
.aral{
position: absolute;
top: 100px;
left: 1055px;
rotate: -39.729deg;
}
.fichas-aral{
  position: absolute;
  top: 125px;
  left: 1070px;
}
.turquia{
position: absolute;
top: 280px;
left: 1085px;
rotate: -2.959deg;
}
.fichas-turquia{
  position: absolute;
 top: 300px;
 left: 1145px;
}
.arabia{
position: absolute;
top: 340px;
left: 1120px;
rotate: -26.584deg;
}
.fichas-arabia{
  position: absolute;
  top: 370px;
  left: 1140px;
}
.india{
position: absolute;
top:290px;
left: 1213px;
}
.fichas-india{
  position: absolute;
  top: 330px;
  left: 1213px;
}
.gobi{
position: absolute;
top: 215px;
left: 1165px;
rotate: -31.864deg;
}
.fichas-gobi{
  position: absolute;
  top: 240px;
  left: 1170px;
}
.malasia{
position: absolute;
top: 280px;
left: 1275px;
rotate: -62.915deg;
}
.fichas-malasia{
  position: absolute;
  top: 275px;
  left: 1270px;
}
.iran{
position: absolute;
top: 230px;
left: 1120px;
rotate: 36.548deg;
}
.fichas-iran{
  position: absolute;
  top: 270px;
  left: 1155px; 
}
.siberia{
position: absolute;
top: 110px;
left: 1130px;
}
.fichas-siberia{
  position: absolute;
  top: 115px;
  left: 1105px;
}
.taimir{
position: absolute;
top: 70px;
left: 1120px;
rotate: -34.79deg;
}
.fichas-taimir{
  position: absolute;
  top: 50px;
  left: 1130px;
}
.tartaria{
position: absolute;
top: 60px;
left: 1080px;
rotate: -69.709deg;
}
.fichas-tartaria{
  position: absolute;
  top: 55px;
  left: 1075px;
}

.java{
position: absolute;
left: 1300px;
top: 370px;
rotate: -55.576deg;
}
.fichas-java{
  position: absolute;
  top: px;
  left: px;
}
.australia{
  position: absolute;
  left: 1275px;
  top: 480px;
}
.fichas-australia{
 position: absolute;
 top: 1275px;
 left: 480px;
}
.borneo{
position: absolute;
top: 365px;
left: 1245px;
rotate: 86.094deg;
}
.fichas-borneo{
  position: absolute;
 top: 350px;
 left: 1250px;
}
.sumatra{
  position: absolute;
  top: 415px;
  left: 1167px;
  rotate: 53.626deg;
}
.fichas-sumatra{
  position: absolute;
 top: 410px;
 left: 1175px;
}

.argentina{
position: absolute;
top: 497px;
left: 605px;
rotate: -54.494deg;
}
.fichas-argentina{
  position: absolute;
 top: 500px;
 left: 650px;
}
.uruguay{
position: absolute;
top: 460px;
left: 665px;
rotate: -25.885deg;
}
.fichas-uruguay{
  position: absolute;
 top: 450px;
 left: 680px;
}
.peru{
position: absolute;
top: 360px;
left: 600px;
}
.fichas-peru{
  position: absolute;
 top: 355px;
 left: 630px;
}
.colombia{
position: absolute;
top: 410px;
left: 585px;
}
.fichas-colombia{
  position: absolute;
  top: 420px;
  left: 640px;
}
.brasil{
position: absolute;
top: 400px;
left: 690px;
}
.fichas-brasil{
 position: absolute;
 top: 400px;
 left: 740px;

}
.chile{
position: absolute;
top: 500px;
left: 588px;
rotate: -80.741deg;
}
.fichas-chile{
 position: absolute;
 top: 530px;
 left: 595px;
}

.canada{
  position: absolute;
  top: 90px;
  left: 440px;
}
.fichas-canada{
  position: absolute;
  top: 140px;
  left: 420px;
}
.california{
position: absolute;
top: 260px;
left: 420px;
}
.fichas-california{
  position: absolute;
  top: 290px;
  left: 415px;
}
.terranova{
position: absolute;
top: 180px;
left: 510px;
}
.fichas-terranova{
  position: absolute;
  top: 180px;
  left: 560px;
}
.mexico{
position: absolute;
top: 320px;
left: 520px;
}
.fichas-mexico{
  position: absolute;
  top: 280px;
  left: 490px;
}
.yukon{
position: absolute;
top: 160px;
left: 360px;
}
.fichas-yukon{
  position: absolute;
  top: 180px;
  left: 390px;
}
.alaska{
position: absolute;
top: 210px;
left: 300px;
}
.fichas-alaska{
  position: absolute;
  top: 240px;
  left: 305px;
}
.nuevaYork{
position: absolute;
top: 219px;
left: 475px;
}
.fichas-nuevayork{
  position: absolute;
  top: 210px;
  left: 480px;
}
.oregon{
position: absolute;
top: 240px;
left: 360px;
}
.fichas-oregon{
  position: absolute;
  top: 280px;
  left: 350px;
}
.labrador{
position: absolute;
top: 132px;
left: 540px;
}
.fichas-labrador{
  position: absolute;
  top: 132px;
  left: 540px;
}
.groenlandia{
position: absolute ;
top: 53px;
left: 600px;
}
.fichas-groenlandia{
  position: absolute;
  top: 120px;
  left: 640px;
}

.espana{
position: absolute;
top: 350px;
left: 820px;
rotate: -11.932deg;
}
.fichas-españa{
  position: absolute;
  top: px;
  left: px;
}
.francia{
position: absolute;
top: 300px;
left: 890px;
rotate: -27.8deg;
}
.fichas-francia{
  position: absolute;
  top: px;
  left: px;
}
.alemania{
position: absolute;
top: 280px;
left: 955px;
rotate: 40.75deg;
}
.fichas-alemania{
  position: absolute;
  top: px;
  left: px;
}
.polonia{
position: absolute;
top: 260px;
left: 1010px;
rotate: -2.959deg;
}
.fichas-polonia{
  position: absolute;
  top: px;
  left: px;
}
.inglaterra{
position:absolute;
top: 240px;
left: 835px;
rotate: -26.93deg;
}
.fichas-granbretaña{
  position: absolute;
  top: px;
  left: px;
}
.islandia{
position: absolute;
top: 215px;
left: 725px;
rotate: -34.832deg;
}
.fichas-islandia{
  position: absolute;
  top: px;
  left: px;
}
.italia{
position: absolute;
top: 350px;
left:  960px;
rotate: 64.444deg;
}
.fichas-italia{
  position: absolute;
  top: px;
  left: px;
}
.rusia{
position: absolute;
top: 180px;
left: 1020px;
}
.fichas-rusia{
  position: absolute;
  top: px;
  left: px;
}
.suecia{
position: absolute;
top: 120px;
left: 910px;
rotate: -34.433deg;
}
.fichas-suecia{
  position: absolute;
  top: px;
  left: px;
}

.sahara{
position: absolute;
top: 460px;
left: 910px;
rotate: -17.162deg;
}
.fichas-sahara{
  position: absolute;
  top: px;
  left: px;
}
.madagascar{
position: absolute;
top: 510px;
left: 1095px;
rotate: -76.904deg;
}
.fichas-madagascar{
  position: absolute;
  top: px;
  left: px;
}
.sudafrica{
position: absolute;
top: 525px;
left: 1010px;
rotate: -42.892deg;
}
.fichas-sudafrica{
  position: absolute;
  top: px;
  left: px;
}
.egipto{
position: absolute;
top: 420px;
left: 1045px;
rotate: 15.172deg;
}
.fichas-egipto{
  position: absolute;
  top: px;
  left: px;
}
.etiopia{
 position: absolute;
 top: 460px;
left: 1020px;
rotate: 15.878deg;
}
.fichas-etiopia{
  position: absolute;
  top: px;
  left: px;
}
.zaire{
  position: absolute;
  top: 490px;
  left: 970px;
}
.fichas-zaire{
  position: absolute;
  top: px;
  left: px;
}
