:root {
  --coloramericadelsur: #C9CF9A ;
  --coloramericanorte: #EEBD88 ;
  --coloreuropa: #F2DCE8;
  --colorafrica: #FBBF7E ;
  --colorasia: #CCCEAD ;
  --coloroceania: #C2E0D4 ;
}


body {
background-color: #1ABFED;
width: 100%;
}
.foto{
width: 1072px;
height: 100%;
position: absolute;
left: 280px;
top: 0px;
}
.americadelsur {
background-color: var(--coloramericadelsur);
}


.Americadelnorte {
background-color: var(--coloramericanorte);
}
.Africa {
  background-color: var(--colorafrica);
}
.Europa {
  background-color: var(--coloreuropa);
}
.Asia {
  background-color: var(--colorasia);
}
.Oceania {
  background-color: var(--coloroceania);
}
.timer{
display: flexbox;
position: absolute;
left: 780px;
top: 40px;
width: 154px;
height: 58px;
}
.todo{
display: flex;
gap: 15px;
justify-content: center;
align-items: center;
}
.color-jugador{
  position: absolute;
  top: 40px;
  left:5px;
  width: 200px;
  height: 75px;
}
.atacar{
height: 75px;
width: 90px;
position: absolute;
top: 80px;
left: 5px;
border-color: 5rem;
background-color: #fff;
}
.Reagrupar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 80px;
left: 100px;
}


.Reponer{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 180px;
left: 5px;
}
.Canjear{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height: 75px ;
top: 180px;
left: 100px;
}
.Menu{
width: 250px;
height: 190px;
position: absolute;
top: 275px;
left: 5px;
display: flexbox;}
.parar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 5px;
}
.terminar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 100px;
}
.tirar1{
width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 20px;
}
.tirar2{
 width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 120px;
}
.pausar-partida{
position: absolute;
top: 100%;
left: 5px;
}
.linea-medio{
width: 275px;
height: 100%;
position: absolute;
top: 0%;
left: 0%;
display: inline-block;
border-right: 5px solid black;
}
.linea-conector{
  border-left: 100%;
  border-left:dashed .2rem black;
}
.lineas-conectoras1{
  border-left:dashed .2rem black;
  rotate: -75deg;/*rotacion*/
  height: 8.5rem;/*cantidad  de puntos*/
 width: 200px;/*ancho determinaque tan larga*/
 left: 760px;
 top: 290px;
 position: absolute;
 
}
.lineas-conectoras2{
  border-left:dashed .2rem black;
 rotate: -42deg;
 height: 3rem;
 width:300px ;
 left: 855px;
 top: 300px;
position: absolute;
}
.lineas-conectoras3{
  border-left:dashed .2rem black;
  rotate: 40deg;
  height: 5.5rem;
  width: 250px;
  left: 580px;
  top: 260px;
  position: absolute;

}
.lineas-conectoras4{
  border-left:dashed .2rem black;
  rotate: 45deg;
  height: 3.1rem;
  width: 330px;
  left: 560px;
  top: 230px;
  position: absolute;
}
.lineas-conectoras5{
  border-left:dashed .2rem black;
  rotate: -50deg;
  height: 3.7rem;
  width: 200px;
  left: 660px;
  top: 110px;
  position: absolute;
}
.lineas-conectoras6{
  border-left:dashed .2rem black;
  rotate: 65deg;
  height: 9.2rem; 
  width: 300px;
  left: 770px;
  top: 275px;
  position: absolute;
}
.lineas-conectoras7{
  border-left:dashed .2rem black;
  rotate: 100deg;
  height: 3.5rem;
  width: 200px;
  left: 700px;
  top: 340px;
  position: absolute;
}
.lineas-conectoras8{
  border-left:dashed .2rem black;
  rotate: 11deg;
  height: 2.5rem;
  width: 200px;
  left: 853px;
  top: 320px;
  position: absolute;
}
.lineas-conectoras9{
  border-left:dashed .2rem black;
  rotate: 100deg;
  height: 2.9rem;
  width: 200px;
  left: 810px;
  top: 340px;
  position: absolute;
}
.lineas-conectoras10{
  border-left:dashed .2rem black;
  rotate: 95deg;
  height: 1.6rem;
  width: 2px;
  left: 1260px;
  top: 110px;
  position: absolute;
}
.lineas-conectoras11{
  border-left:dashed .2rem black;
  rotate: deg;
  height: rem;
  width: 2px;
  left: 1245px;
  top: 100px;
  position: absolute;
}
.japon{
width: 96px;
height: 89px;
position: absolute;
top: 135px;
left: 1285px;
}
.japon-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.china{
width: 283px;
height:  334px;
position: absolute;
top: 237px;
left: 1250px;
}
.china-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.kamchatka{
width: 131px;
height: 126px;
position: absolute;
top: 100px;
left: 1180px;
}
.kamchatka-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.mongolia{
position: absolute;
width: 190px;
height: 164px;
top: 190px;
left: 1140px;
}
.mongolia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.israel{
width: 180px;
height: 119px ;
position: absolute;
top: 350px;
left: 1105px;
}
.israel-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.aral{
width: 123px;
height: 178px;
position: absolute;
top: 135px;
left: 1065px;
}
.aral-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.turquia{
width: 262px;
height: 145px;
position: absolute;
top: 310px;
left: 1100px;
}
.turquia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.arabia{
width: 145px;
height: 128px;
position: absolute;
top: 380px;
left: 1127.5px;
}
.arabia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.india{
width: 142px;
height: 190px;
position: absolute;
top:345px;
left: 1220px;
}
.india-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.gobi{
width: 100px;
height: 100px;
position: absolute;
top: 240px;
left: 1180px;
}
.gobi-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.malasia{
width: 135px;
height: 169px;
position: absolute;
top: 300px;
left: 1295px;
}
.malasia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.iran{
width: 220px;
height: 308px;
position: absolute;
top: 230px;
left: 1130px;
}
.iran-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.siberia{
width: 225px;
height: 151px;
position: absolute;
top: 140px;
left: 1133px;
}
.siberia-foto{
  position: absolute;
  top: px;
left: px;
width: px;
height: px;
}
.taimir{
width: 109px;
height: 133px;
position: absolute;
top: 100px;
left: 1125px;
}
.taimir-foto{
  position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.tartaria{
width: 114px;
height: 161px;
position: absolute;
top: 90px;
left: 1100px;
}
.tartaria-foto{
 position: absolute;
top: px;
left: px;
width: px;
height: px;
}

.java{
width: 59.34px;
height: 124.71px;
position: absolute;
left: 1320px;
top: 380px;
}
.java-foto{
  position: absolute;
  left: 1320px;
  top: 350px;
  height: 90px;
  width: 30px;
}
.australia{
  width: 218px;
  height: 239px;
  position: absolute;
  left: 1280px;
  top: 487px;
}
.australia-foto{
  width: 120px;
  height: 120px;
position: absolute;
left: 1240px;
top: 445px;
display: flex;
align-items: center;
}
.borneo{
width: 73.78px;
height: 118.55px;
position: absolute;
top: 390px;
left: 1270px;
}
.borneo-foto{
  position: absolute;
  top: 358px;
  left: 1265px;
  width: 40px;
  height: 90px;
}
.sumatra{
  width: 88.39px;
  height: 99.83x;
  position: absolute;
  top: 445px;
  left: 1200px;
}
.sumatra-foto{
  position: absolute;
  top: 420px;
  left: 1175px;
  height: 70px;
  width: 70px;
}

.argentina{
width: 106.14px;
height: 196.68px;
position: absolute;
top: 500px;
left: 620px;
}
.argentina-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.uruguay{
width: 98.07px;
height: 101.54px;
position: absolute;
top: 490px;
left: 660px;
}
.uruguay-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.peru{
width: 123.49px;
height: 93.26px;
position: absolute;
top: 440px;
left: 600px;
}
.peru-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.colombia{
width: 136.32px;
height: 108.27px;
position: absolute;
top: 385px;
left: 580px;
}
.colombia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.brasil{
width: 197.67px;
height: 177.49px;
position: absolute;
top: 420px;
left: 680px;
}
.brasil-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.chile{
width: 47.63px;
height: 182.88px;
position: absolute;
top: 500px;
left: 585px;
}
.chile-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}

.canada{
width: 253px;
height: 312px;
position: absolute;
top: 140px;
left: 420px;
}
.canada-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.california{
width: 283px;
height: 218px;
position: absolute;
top: 300px;
left: 410px;
}
  .california-foto{
    position: absolute;
  top: px;
left: px;
width: px;
height: px; 
  }
.terranova{
width: 218x;
height: 156px;
position: absolute;
top: 220px;
left: 497px;
}
.terranova-foto{
 position: absolute;
 top: px;
left: px;
width: px;
height: px;
}
.mexico{
width: 234px;
height: 178px;
position: absolute;
top: 330px;
left: 485px;
}
.mexico-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
} 
.yukon{
width: 178px;
height: 249px;
position: absolute;
top: 210px;
left: 350px;
}
.yukon-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.alaska{
width: 117px;
height: 252px;
position: absolute;
top: 250px;
left: 300px;
}
.alaska-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.nuevayork{
width: 274px;
height: 213px;
position: absolute;
top: 240px;
left: 470px;
}
.nuevayork-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.oregon{
width: 300px;
height: 234px;
position: absolute;
top: 260px;
left: 380px;
}
.oregon-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.labrador{
width: 136px;
height: 128px;
position: absolute;
top: 180px;
left: 530px;
}
.labrador-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.groenlandia{
width: 178px;
height: 227px;
position: absolute ;
top: 110px;
left: 610px;
}
.groenlandia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}


.espa単a{
width: 128.3px;
height: 133.29px;
position: absolute;
top: 370px;
left: 830px;
}
.espa単a-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;

}
.francia{
width: 129.91px;
height: 171.26px;
position: absolute;
top: 320px;
left: 900px;
}
.francia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.alemania{
width: 130.12px;
height: 176.69px;
position: absolute;
top: 310px;
left: 970px;
}
.alemania-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.polonia{
width: 164.95px;
height: 177.28px;
position: absolute;
top: 280px;
left: 1013px;
}
.polonia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.granbreta単a{
width: 113.87px;
height: 148.57px;
position:absolute;
top: 260px;
left: 840px;
}
.granbreta単a-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.islandia{
width: 125.9px;
height: 150.88px;
position: absolute;
top: 230px;
left: 735px;
}
.islandia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.italia{
width: 134.32px;
height: 149.58px;
position: absolute;
top: 380px;
left: 965px;
}
.italia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.rusia{
width: 230.55px;
height: 325.36px;
position: absolute;
top: 195px;
left: 1015px;
}
.rusia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.suecia{
width: 131.67px;
height: 146.81px;
position: absolute;
top: 140px;
left: 940px;
}
.suecia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}


.sahara{
width: 222px;
height: 192px;
position: absolute;
top: 480px;
left: 930px;
}
.sahara-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.madagascar{
width: px;
height: px;
position: absolute;
top: 520px;
left: 1110px;
}
.madagascar-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.sudafrica{
width: 162px;
height: 163px;
position: absolute;
top: 550px;
left: 1020px;
}
.sudafrica-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.egipto{
width: 285px;
height: 145px;
position: absolute;
top: 445px;
left: 1055px;
}
.egipto-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.etiopia{
 width: 230px;
 height: 198px;
 position: absolute;
 top: 485px;
left: 1030px;
}
.etiopia-foto{
position: absolute;
top: px;
left: px;
width: px;
height: px;
}
.zaire{
  width: 192px;
  height: 141px;
  position: absolute;
  top: 520px;
  left: 990px;
}
.zaire-foto{
 position: absolute;
 top: px;
 left: px;
 width: px;
 height: px;
}
