.foto{
width: 92%;
height: 100%;
position: absolute;
left: 225px;
top: 0%;
 
}
.timer{
display: flexbox;
position: absolute;
left: 780px;
top: 40px;
width: 154px;
height: 58px;
}
.todo{
display: flex;
gap: 15px;
justify-content: center;
align-items: center;
}
.color-jugador{
  position: absolute;
  top: 40px;
  left:5px;
  width: 200px;
  height: 75px;
}
.atacar{
height: 75px;
width: 90px;
position: absolute;
top: 80px;
left: 5px;
border-color: 5rem;
background-color: #fff;
}
.Reagrupar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 80px;
left: 100px;
}


.Reponer{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 180px;
left: 5px;
}
.Canjear{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height: 75px ;
top: 180px;
left: 100px;
}
.Menu{
width: 250px;
height: 190px;
position: absolute;
top: 275px;
left: 5px;
display: flexbox;}
.parar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 5px;
}
.terminar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 100px;
}
.tirar1{
width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 20px;
}
.tirar2{
 width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 120px;
}
.pausar-partida{
position: absolute;
top: 100%;
left: 5px;
}
.linea-medio{
width: 275px;
height: 100%;
position: absolute;
top: 0%;
left: 0%;
display: inline-block;
border-right: 5px solid black;
}

.japon{
position: absolute;
top: 135px;
left: 1285px;
rotate: 50.284deg;
}
.china{
position: absolute;
top: 200px;
left: 1280px;
}
.kamchatka{
position: absolute;
top: 70px;
left: 1240px;
font-size: 10px;
rotate: -20.974deg;
}
.mongolia{
position: absolute;
top: 160px;
left: 1170px;
rotate: -12.689deg;
}

.israel{
position: absolute;
top: 335px;
left: 1120px;
rotate: -26.584deg;
}
.aral{
position: absolute;
top: 100px;
left: 1100px;
rotate: -39.729deg;
}
.turquia{
position: absolute;
top: 290px;
left: 1130px;
rotate: -2.959deg;
}
.arabia{
position: absolute;
top: 360px;
left: 1160px;
rotate: -26.584deg;
}
.india{
position: absolute;
top:310px;
left: 1265px;
}
.gobi{
position: absolute;
top: 225px;
left: 1215px;
rotate: -31.864deg;
}
.malasia{
position: absolute;
top: 280px;
left: 1330px;
rotate: -62.915deg;
}

.iran{
position: absolute;
top: 230px;
left: 1160px;
rotate: 36.548deg;
}

.siberia{
position: absolute;
top: 110px;
left: 1170px;
}
.taimir{
position: absolute;
top: 70px;
left: 1170px;
rotate: -34.79deg;
}
.tartaria{
position: absolute;
top: 60px;
left: 1125px;
rotate: -69.709deg;
}

.java{
position: absolute;
left: 1360px;
top: 380px;
rotate: -55.576deg;
}

.australia{
  position: absolute;
  left: 1320px;
  top: 490px;
}

.borneo{
position: absolute;
top: 380px;
left: 1302px;
rotate: 86.094deg;
}

.sumatra{
  position: absolute;
  top: 430px;
  left: 1220px;
  rotate: 53.626deg;
}


.argentina{
position: absolute;
top: 500px;
left: 630px;
rotate: -54.494deg;
}

.uruguay{
position: absolute;
top: 470px;
left: 690px;
rotate: -25.885deg;
}
.peru{
position: absolute;
top: 440px;
left: 600px;
}

.colombia{
position: absolute;
top: 200px;
left: 580px;
}

.brasil{
position: absolute;
top: 200px;
left: 60px;
}

.chile{
position: absolute;
top: 500px;
left: 610px;
rotate: -80.741deg;
}


.canada{
  position: absolute;
  top: 110px;
  left: 440px;
}
.california{
position: absolute;
top: 260px;
left: 440px;
}

.terranova{
position: absolute;
top: 180px;
left: 510px;
}

.mexico{
position: absolute;
top: 330px;
left: 525px;
}

.yukon{
position: absolute;
top: 170px;
left: 370px;
}

.alaska{
position: absolute;
top: 200px;
left: 299px;
}

.nuevayork{
position: absolute;
top: 220px;
left: 490px;
}
.oregon{
position: absolute;
top: 240px;
left: 380px;
}
.labrador{
position: absolute;
top: 140px;
left: 550px;
}
.groenlandia{
position: absolute ;
top: 50px;
left: 620px;
}

.españa{
position: absolute;
top: 355px;
left: 850px;
rotate: -11.932deg;
}
.francia{
position: absolute;
top: 320px;
left: 900px;
rotate: -27.8deg;
}
.alemania{
position: absolute;
top: 310px;
left: 970px;
rotate: 40.75deg;
}
.polonia{
position: absolute;
top: 280px;
left: 1013px;
rotate: -2.959deg;
}
.granbretaña{
position:absolute;
top: 260px;
left: 840px;
rotate: -26.93deg;
}
.islandia{
position: absolute;
top: 230px;
left: 735px;
rotate: -34.832deg;
}
.italia{
position: absolute;
top: 380px;
left: 965px;
rotate: 64.444deg;
}
.rusia{
position: absolute;
top: 195px;
left: 1015px;
}
.suecia{
position: absolute;
top: 140px;
left: 940px;
rotate: -34.433deg;
}



.sahara{
position: absolute;
top: 480px;
left: 930px;
rotate: -17.162deg;
}
.madagascar{
position: absolute;
top: 520px;
left: 1110px;
rotate: -76.904deg;
}
.sudafrica{
position: absolute;
top: 550px;
left: 1020px;
rotate: -42.892deg;
}
.egipto{
position: absolute;
top: 445px;
left: 1055px;
rotate: 15.172deg;
}
.etiopia{
 position: absolute;
 top: 485px;
left: 1030px;
rotate: 15.878deg;
}
.zaire{
  position: absolute;
  top: 510px;
  left: 1010px;
}

