.todo{
  color: #000;

 font-family: "Inknut Antiqua";
 font-size: 12px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
}
.paises{
  color: #000;

font-family: "Inknut Antiqua";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.inknut-antiqua-light {
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  font-style: normal;
}

.inknut-antiqua-regular {
  font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

.inknut-antiqua-medium {
  font-family: "Inknut Antiqua", serif;
  font-weight: 500;
  font-style: normal;
}

.inknut-antiqua-semibold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 600;
  font-style: normal;
}

.inknut-antiqua-bold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 700;
  font-style: normal;
}

.inknut-antiqua-extrabold {
  font-family: "Inknut Antiqua", serif;
  font-weight: 800;
  font-style: normal;
}

.inknut-antiqua-black {
  font-family: "Inknut Antiqua", serif;
  font-weight: 900;
  font-style: normal;
}

.foto{
width: 92%;
height: 100%;
position: absolute;
left: 240px;
top: 0%;
 
}
.timer{
display: flexbox;
position: absolute;
left: 780px;
top: 40px;
width: 154px;
height: 58px;
}
.todo{
display: flex;
gap: 15px;
justify-content: center;
align-items: center;
}
.color-jugador{
  position: absolute;
  top: 40px;
  left:5px;
  width: 200px;
  height: 75px;
}
.atacar{
height: 75px;
width: 90px;
position: absolute;
top: 80px;
left: 5px;
border-color: .000;
background-color: #fff;
}
.Reagrupar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 80px;
left: 100px;
}


.Reponer{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
height: 75px;
width: 90px;
top: 180px;
left: 5px;
}
.Canjear{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height: 75px ;
top: 180px;
left: 100px;
}
.Menu{
width: 250px;
height: 190px;
position: absolute;
top: 275px;
left: 5px;
display: flexbox;
}
.parar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 5px;
}
.terminar{
border-color: black;
border-bottom: 10px;
background-color: #fff;
position: absolute;
width: 90px;
height:75px ;
top: 400px;
left: 100px;
}
.tirar1{
width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 20px;
}
.tirar2{
 width: 60px;
height: 60px;
position: absolute;
top: 500px;
left: 120px;
}
.pausar-partida{
position: absolute;
top: 100%;
left: 5px;
}
.linea-medio{
width: 275px;
height: 100%;
position: absolute;
top: 0%;
left: 0%;
display: inline-block;
border-right: 5px solid black;
}
.fondo-costado{
  left: 0%;
  top: 0%;
  height: 100%;
  position: absolute;
}
.fichas{
  width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  border-radius: 50%; /* Esto lo convierte en un círculo */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.japon{
position: absolute;
top: 110px;
left: 1337px;
rotate: 50.284deg;
}
.fichas-japon{
  width: 20px; /* Ancho del círculo */
  height: 20px; /* Altura del círculo */
  border-radius: 50%; /* Esto lo convierte en un círculo */
  position: absolute;
  top: 5%;
  left: 90px;
}
.china{
position: absolute;
top: 200px;
left: 1280px;
}
.fichas-china{
 
}
.kamchatka{
position: absolute;
top: 70px;
left: 1240px;
font-size: 10px;
rotate: -20.974deg;
}
.fichas-kamchatka{
 
}
.mongolia{
position: absolute;
top: 160px;
left: 1170px;
rotate: -12.689deg;
}
.fichas-mongolia{
 
}
.israel{
position: absolute;
top: 335px;
left: 1120px;
rotate: -26.584deg;
}
.fichas-israel{
 
}
.aral{
position: absolute;
top: 100px;
left: 1100px;
rotate: -39.729deg;
}
.fichas-aral{
 
}
.turquia{
position: absolute;
top: 290px;
left: 1130px;
rotate: -2.959deg;
}
.fichas-turquia{
 
}
.arabia{
position: absolute;
top: 360px;
left: 1160px;
rotate: -26.584deg;
}
.fichas-arabia{
 
}
.india{
position: absolute;
top:310px;
left: 1265px;
}
.fichas-india{
 
}
.gobi{
position: absolute;
top: 225px;
left: 1215px;
rotate: -31.864deg;
}
.fichas-gobi{
 
}
.malasia{
position: absolute;
top: 280px;
left: 1330px;
rotate: -62.915deg;
}
.fichas-malasia{
 
}
.iran{
position: absolute;
top: 230px;
left: 1160px;
rotate: 36.548deg;
}
.fichas-iran{
 
}
.siberia{
position: absolute;
top: 110px;
left: 1170px;
}
.fichas-siberia{
 
}
.taimir{
position: absolute;
top: 70px;
left: 1170px;
rotate: -34.79deg;
}
.fichas-taimir{
 
}
.tartaria{
position: absolute;
top: 60px;
left: 1125px;
rotate: -69.709deg;
}
.fichas-tartaria{
 
}

.java{
position: absolute;
left: 1360px;
top: 380px;
rotate: -55.576deg;
}
.fichas-java{
 
}
.australia{
  position: absolute;
  left: 1320px;
  top: 490px;
}
.fichas-australia{
 
}
.borneo{
position: absolute;
top: 380px;
left: 1302px;
rotate: 86.094deg;
}
.fichas-borneo{
 
}
.sumatra{
  position: absolute;
  top: 430px;
  left: 1220px;
  rotate: 53.626deg;
}
.fichas-sumatra{
 
}

.argentina{
position: absolute;
top: 500px;
left: 630px;
rotate: -54.494deg;
}
.fichas-argentina{
 
}
.uruguay{
position: absolute;
top: 470px;
left: 690px;
rotate: -25.885deg;
}
.fichas-uruguay{
 
}
.peru{
position: absolute;
top: 440px;
left: 600px;
}
.fichas-peru{
 
}
.colombia{
position: absolute;
top: 200px;
left: 580px;
}
.fichas-colombia{
 
}
.brasil{
position: absolute;
top: 200px;
left: 60px;
}
.fichas-brasil{
 
}
.chile{
position: absolute;
top: 500px;
left: 610px;
rotate: -80.741deg;
}
.fichas-chile{
 
}

.canada{
  position: absolute;
  top: 110px;
  left: 440px;
}
.fichas-canada{
 
}
.california{
position: absolute;
top: 260px;
left: 440px;
}
.fichas-california{
 
}
.terranova{
position: absolute;
top: 180px;
left: 510px;
}
.fichas-terranova{
 
}
.mexico{
position: absolute;
top: 330px;
left: 525px;
}
.fichas-mexico{
 
}
.yukon{
position: absolute;
top: 170px;
left: 370px;
}
.fichas-yukon{
 
}
.alaska{
position: absolute;
top: 200px;
left: 299px;
}
.fichas-alaska{
 
}
.nuevayork{
position: absolute;
top: 220px;
left: 490px;
}
.fichas-nuevayork{
 
}
.oregon{
position: absolute;
top: 240px;
left: 380px;
}
.fichas-oregon{
 
}
.labrador{
position: absolute;
top: 140px;
left: 550px;
}
.fichas-labrador{
 
}
.groenlandia{
position: absolute ;
top: 50px;
left: 620px;
}
.fichas-groenlandia{
 
}

.españa{
position: absolute;
top: 355px;
left: 850px;
rotate: -11.932deg;
}
.fichas-españa{
 
}
.francia{
position: absolute;
top: 310px;
left: 920px;
rotate: -27.8deg;
}
.fichas-francia{
 
}
.alemania{
position: absolute;
top: 290px;
left: 985px;
rotate: 40.75deg;
}
.fichas-alemania{
 
}
.polonia{
position: absolute;
top: 260px;
left: 1045px;
rotate: -2.959deg;
}
.fichas-polonia{
 
}
.granbretaña{
position:absolute;
top: 240px;
left: 860px;
rotate: -26.93deg;
}
.fichas-granbretaña{
 
}
.islandia{
position: absolute;
top: 215px;
left: 745px;
rotate: -34.832deg;
}
.fichas-islandia{
 
}
.italia{
position: absolute;
top: 370px;
left:  995px;
rotate: 64.444deg;
}
.fichas-italia{
 
}
.rusia{
position: absolute;
top: 180px;
left: 1050px;
}
.fichas-rusia{
 
}
.suecia{
position: absolute;
top: 110px;
left: 950px;
rotate: -34.433deg;
}
.fichas-suecia{
 
}

.sahara{
position: absolute;
top: 460px;
left: 940px;
rotate: -17.162deg;
}
.fichas-sahara{
 
}
.madagascar{
position: absolute;
top: 520px;
left: 1145px;
rotate: -76.904deg;
}
.fichas-madagascar{
 
}
.sudafrica{
position: absolute;
top: 550px;
left: 1050px;
rotate: -42.892deg;
}
.fichas-sudafrica{
 
}
.egipto{
position: absolute;
top: 430px;
left: 1085px;
rotate: 15.172deg;
}
.fichas-egipto{
 
}
.etiopia{
 position: absolute;
 top: 470px;
left: 1050px;
rotate: 15.878deg;
}
.fichas-etiopia{
 
}
.zaire{
  position: absolute;
  top: 510px;
  left: 1010px;
}
.fichas-zaire{
 
}
