.boton{
  position: absolute;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 5px solid #CFD2D3;
  background: #373B3B;
  left: 600px;
}
.boton1{
  position: absolute;
  top: 150px;
}
.boton2{
  top: 270px;
}
.boton3{
  top: 390px;
}
.boton4{
top: 510px;
}

.fondopausa{
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  aspect-ratio: 1/1;
}