body {
  margin: 0;
  font-family: sans-serif;
  background: url('../imagenes/COPIA\ de\ seleccion\ de\ jugadores.svg') no-repeat center center fixed;
  background-size: cover;
  color: yellow;
}

/* Pantallas */
.pantalla {
  text-align: center;
  position: relative;
  margin-top: 150px;
}

/* Ocultar */
.oculto {
  display: none;
}

/* Cruz arriba a la derecha */
.cruz {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  cursor: pointer;
}

/* Panel de selección de jugadores */
.panel-jugadores {
  background-color: black;
  border: 3px solid yellow;
  padding: 40px 30px;
  display: inline-block;
  border-radius: 20px;
}

.panel-jugadores button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 280px;
  margin: 15px auto;
  padding: 12px 20px;
  font-size: 20px;
  background-color: black;
  color: white;
  border: 2px solid yellow;
  cursor: pointer;
}

.panel-jugadores button:hover {
  background-color: #222;
}

.icono {
  width: 30px;
  margin-right: 15px;
}

/* Panel de selección de colores */
.panel-colores {
  background-color: black;
  border: 3px solid yellow;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  min-height: 500px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}

.panel-colores h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: yellow;
}

/* Caja negra detrás de los selects */
.contenedor-selects {
  background-color: black;
  border: 2px solid yellow;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 15px;
}

.contenedor-selects select {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 2px solid yellow;
  background-color: black;
  color: white;
}

/* Flechas */
.flecha-izquierda {
  position: absolute;
  right: -300px;
  top: 100%;
  
  width: 60px;
  cursor: pointer;
}

.flecha-derecha {
  position: absolute;
  left: -200px;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  cursor: pointer;
  z-index: 10;
}
