

body{
    width: 100%;
    height: 100%;
}
h1{
    position: absolute;
    left: 1300px;
    top: 50px;
}
.imagen{
    width:100%;
    height: auto; 
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: -1; 
    pointer-events: none; 
}
.botones{
    position: absolute;
    width: 250px;
    height: 150px;
    border-radius: 25px;
    background-color: #000;
    border-color: #BC9720;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding-left: 12px; 
    color: #fff;
    border-width: 5px;
    z-index: 5;
    text-align: left;
}
.boton3{
    top:120px;
    left: 300px;
}
.boton4{
    top: 120px;
    left: 700px;
}
.boton5{
    top: 400px;
    left: 300px;
}
.boton6{
    top: 400px;
    left: 700px;
}
.botones-jugadores {
  position: relative;
  z-index: 5;
}


#selectores {
    background-color: #f0f0f0; 
    padding: 20px;
    border-radius: 10px;
    width: 320px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: none; 
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  

  .seleccion-jugador {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  
  
  .seleccion-jugador label {
    font-weight: bold;
    margin-right: 10px;
  }
  
 
  .seleccion-jugador select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 14px;
    width: 160px;
    height: 100px;
  }
  .foto{  
    width: 150px;
    height: 150px;
    z-index: 100;}
  .foto3{
    position: absolute;
    top: 130px;
    left: 390px;
  }
  .foto4{
    position: absolute;
    top: 130px;
    left: 790px;
  }
  .foto5{
    position: absolute;
    top: 410px;
    left: 390px;
  }
  .foto6{
    position: absolute;
    top: 410px;
    left: 790px;
  }


  
