body {
  margin: 0;
  font-family: sans-serif;
  background: url('../imagenes/COPIA\ de\ seleccion\ de\ jugadores.svg') no-repeat center center fixed;
  background-size: cover;
  color: yellow;
  font-family: Jaini;
}
.jaini-regular {
  font-family: "Jaini", system-ui;
  font-weight: 400;
  font-style: normal;
}


/* Pantallas */
.pantalla {
  text-align: center;
  position: relative;
  margin-top: 150px;
}

/* Ocultar */
.oculto {
  display: none;
}

/* Cruz arriba a la derecha */
.cruz {
  position: absolute;
  top: -50%;
  left: 95%;
  width: 40px;
  
}

/* Panel de selección de jugadores */
.panel-jugadores {
  background-color: black;
  border: 3px solid yellow;
  border-radius: 20px;
  width: 400px;
  height: 600px;
  position: absolute;
  top: 1%;
  left: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 flex-direction: column;
  gap: 20px;
}

.panel-jugadores button {
  display: flex
;
    gap: 10px;
    align-items: center;
    justify-content: left;
    width: 270px;
    font-size: 20px;
    position: relative;
    height: 20%;
    background-color: black;
    color: white;
    border: 2px solid yellow;
 
}
 .panel-jugadores img {
  width: 40%;
  position: relative;
  top: 10px;
  left: 120px;
  
}

/* Panel de selección de colores */
.panel-colores {
  background-color: black;
  border: 3px solid yellow;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  width: 400px;
  min-height: 300px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}

.panel-colores h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: yellow;
}

/* Caja negra detrás de los selects */
.contenedor-selects {
  background-color: black;
  border: 2px solid yellow;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 15px;
}

.contenedor-selects select {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 2px solid yellow;
  background-color: black;
  color: white;
}

/* Flechas */
.flecha-izquierda {
  position: absolute;
  right: -400px;
  top: 100%;
  transform: translateY(-50%);
  width: 60px;
  
}

.flecha-derecha {
  position: absolute;
  left: -400px;
  top: 100%;
  transform: translateY(-50%);
  width: 60px;
 
  z-index: 10;
}
