/* Fondo general */
body {
  margin: 0;
  padding: 0;
  background: url('../imagenes/fondo pantalla principal.svg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Georgia', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Logo superior */
.fondo {
 position: absolute;
  /* top: 50%; */
  left: 31%;
  width: 600px;

}

/* Contenedor de botones */
div {
  background-color: rgba(60, 30, 10, 0.85);
  border: 2px solid #d2b48c;
  padding: 30px 40px;
  margin-top: 200px; /* ← distancia desde el top */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Botones */
button {
  background-color: #3b2a1a;
  color: #f5f5dc;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
}

/* Clases específicas */
.nueva, .cargar, .salir, .instrerucciones {
  text-transform: uppercase;
  letter-spacing: 1px;
}
