.fondo{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: absolute;
}

.imagen{
    width: 10%;
    height: 10%;
    position: absolute;
    top: 0px;
    left: 520px;
    
}
.nueva{
    width: 70%;
    height: 20%;
    position: absolute;
    top: 240px;
    left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-color: black;
    border-bottom: 1.5rem;
}
.cargar{
    width: 70%;
    height: 20%;
    position: absolute;
    top: 360px;
    left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-color: black;
    border-bottom: .5rem;
    color: black;
}
.salir{
    width:70%;
    height:100px;
    position: absolute;
    top: 470px;
    left:200px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #fff;
    border-color: black;
    border-bottom: .5rem;
}
.instrerucciones{
    width: 7%;
    height: 3%;
    position: absolute;
    top: 88%;
    left: 93%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #fff;
    border: 10px;
    border-color: black;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 700px;
    background-color: forestgreen;
}