
.jaini-regular {
  font-family: "Jaini", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: url('../imagenes/fondo pantalla principal.svg') no-repeat center center fixed;;
 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
    width: 30%;
    height: auto;
    position: absolute;
    background-color: transparent;
    top: 5%;
    left: 35%;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 40%;
     border:  0 solid; 
    border-radius: 10px;
    width: 400px;
    height: 500px;
}
div button{
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #2B1D0B;
    width: 900px;
    height: 120px;
    color: #FFAE00;
    font-family: jaini-regular;
    font-size: large;
   }
   .nueva{
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    border-bottom-color: 30px solid #827A7A ;
   }
 .instrerucciones{
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    border-top-color:   30px solid #827A7A;
   }
   .cargar{
   border-top-color:   30px solid #827A7A;
     border-bottom-color: 30px solid #827A7A;
   }
   .salir{
     border-top-color:  30px solid #827A7A ;
     border-bottom-color: 30px solid #827A7A ;
   }
