:root {
    --coloramericadelsur: #C9CF9A ;
    --coloramericanorte: #EEBD88 ;
    --coloreuropa: #F2DCE8;
    --colorafrica: #FBBF7E ;
    --colorasia: #CCCEAD ;
    --coloroceania: #C2E0D4 ;
}
.cuadrado {
  width: 150px; /* Ancho igual al alto para un cuadrado */
  height: 150px; /* Alto igual al ancho */
  background-color: blue; /* Color de fondo para hacerlo visible */
  /* O puedes usar: border: 2px solid black; */
}
body {
background-color: #EFEDE0;
}

.americadelsur {
 background-color: var(--coloramericadelsur); 
}

.Americadelnorte {
background-color: var(--coloramericanorte);
}
.Africa {
    background-color: var(--colorafrica); 
}
.Europa {
    background-color: var(--coloreuropa);
}
.Asia {
    background-color: var(--colorasia);
}
.Oceania {
    background-color: var(--coloroceania);
}
.atacar{

}
.Reagrupar{

}
.Reponer{
width: 174px;
height: 76px;
position: absolute;
top: 295px;
left: 14px;
background-color: #fff;
}
.Canjear{

}
.Menu{

}
.Parar{

}
.Terminar{

}
.Tirar1{

}
.Tirar2{
    
}
.groenlandia{
  width: 178px;
  height: 227px;
  position: absolute ;
  top: 132px;
  right: 809px;
}
.japan{
  width: 96px;
  height: 89px;
  position: absolute;
  top: 221px;
  right: 1809px;
}
.sumatra{
  width: 98px;
  height: 108px;
  position: absolute;
  top: 735px;
  right: 1583px;
}