:root {
    --coloramericadelsur: #C9CF9A ;
    --coloramericanorte: #EEBD88 ;
    --coloreuropa: #F2DCE8;
    --colorafrica: #FBBF7E ;
    --colorasia: #CCCEAD ;
    --coloroceania: #C2E0D4 ;
}
.cuadrado {
  width: 150px; /* Ancho igual al alto para un cuadrado */
  height: 150px; /* Alto igual al ancho */
  background-color: blue; /* Color de fondo para hacerlo visible */
  /* O puedes usar: border: 2px solid black; */
}
body {
background-color: #ffffff;
}

.americadelsur {
background-color: var(--coloramericadelsur);
}

.Americadelnorte {
background-color: var(--coloramericanorte);
}
.Africa {
    background-color: var(--colorafrica); 
}
.Europa {
    background-color: var(--coloreuropa);
}
.Asia {
    background-color: var(--colorasia);
}
.Oceania {
    background-color: var(--coloroceania);
}
.timer{
  display: flexbox;
  position: absolute;
  left: 600px;
  top: 40px;
  width: 154px;
  height: 58px;
}
.atacar{
height: 90px;
width: 176px;
position: absolute;
top: 154px;
left: 13px;
border-radius: 5rem;
background-color: #fff;
}
.Reagrupar{
  border-radius: 5rem;
  background-color: #fff;
  position: absolute;
  width: 174px;
  height: 76px ;
  top: 295px;
  left: 14px;
}

.Reponer{
width: 174px;
height: 76px;
position: absolute;
top: 295px;
left: 14px;
background-color: #fff;
border-radius: 5rem;
}
.Canjear{
  border-radius: 5rem;
  background-color: #fff;
  position: absolute;
  width: 184px;
  height: 80px ;
  top: 290px;
  left: 201px;
}
/*.Menu{

}*/
.Parar{
  border-radius: 5rem;
  background-color: #fff;
  position: absolute;
  width: 176px;
  height:80px ;
  top: 605px;
  left: 13px;
}
.Terminar{
  border-radius: 5rem;
  background-color: #fff;
  position: absolute;
  width: 165px;
  height:80px ;
  top: 605px;
  left: 206px;
}
.Tirar1{

}
.Tirar2{
    
}
.japon{
  width: 96px;
  height: 89px;
  position: absolute;
  background-color: var(--colorasia);
}
.china{
 width: 283px;
 height:  334px;
 position: absolute;
}
.kamchatka{
width: 131px;
height: 126px;
position: absolute;
}
.mongolia{
position: absolute;
width: 190px;
height: 164px;
}
.israel{
width: 180px;
height: 119px ;
position: absolute;
}
.aral{
width: 123px;
height: 178px;
position: absolute;
}
.turquia{
 width: 262px;
 height: 145px;
 position: absolute;
}
.arabia{
width: 145px;
height: 128px;
position: absolute;
}
.india{
width: 142px;
height: 190px;
position: absolute;
}
.gobi{
  width: px;
  height: px;
  position: absolute;
}
.malasia{
  width: 135px;
  height: 169px;
  position: absolute;
}
.iran{
  width: 220px;
  height: 308px;
  position: absolute;
}
.siberia{
width: 225px;
height: 151px;
position: absolute;
}
.taimir{
  width: 109px;
  height: 133px;
  position: absolute;
}
.tartaria{
  width: 114px;
  height: 161px;
  position: absolute; 
}


.java{
  width: 74px;
  height: 172px;
  position: absolute;
}
.australia{
  width: 218px;
  height: 239px;
  position: absolute;
}
.borneo{
  width: 92px;
  height: 174px;
  position: absolute;
}
.sumatra{
  width: 98px;
  height: 108px;
  position: absolute;
} 


.argentina{
width: 133px;
height: 234px;
position: absolute;
}
.uruguay{
width: 124px;
height: 122px;
position: absolute;
}
.peru{
width: 155px;
height: 112px;
position: absolute;
}
.colombia{
width: 172px;
height: 130px;
position: absolute;
}
.brasil{
width: 248px;
height: 212px;
position: absolute;
}
.chile{
width: 64px;
height: 216px;
position: absolute;
}

.canada{
  width: 253px;
  height: 312px;
  position: absolute;
}
.california{
  width: 283px;
  height: 218px;
  position: absolute;
}
.terranova{
  width: 218x;
  height: 156px;
  position: absolute;
}
.mexico{
width: 234px;
height: 178px;
position: absolute;
}
.yukon{
 width: 178px;
 height: 249px;
 position: absolute;
}
.alaska{
  width: 117px;
  height: 252px;
  position: absolute;
}
.nuevayork{
  width: 274px;
  height: 213px;
  position: absolute;
}
.oregon{
  width: 300px;
  height: 234px;
  position: absolute;
}
.labrador{
  width: 136px;
  height: 128px;
  position: absolute;
}
.groenlandia{
  width: 178px;
  height: 227px;
  position: absolute ;
  top: 132px;
  right: 809px;
}

.españa{
 width: 160px;
 height: 157px;
 position: absolute;
}
.francia{
 width: 168px;
 height: 202px;
 position: absolute;
}
.alemania{
 width: 158px;
 height: 213px;
 position: absolute;
}
.polonia{
 width: 203px;
 height: 205px;
 position: absolute;
}
.granbretaña{
 width: px;
 height: px;
  position: absolute;
}
.italia{
 width: 168px;
 height: 177px;
 position: absolute;
}
.ruisia{
 width: 292px;
 height: 384px;
 position: absolute;
}
.suecia{
 width: 163px;
 height: 171px;
 position: absolute;
}

.sahara{
  width: 222px;
  height: 192px;
  position: absolute;
}
.madagascar{
 width: px;
 height: px;
  position: absolute;
}
.sudafrica{
 width: 162px;
 height: 163px;
 position: absolute;
}
.egipto{
 width: 285px;
 height: 145px;
 position: absolute;
}
.etiopia{
 width: 230px;
 height: 198px;
 position: absolute;
}
.zaire{
  width: 192px;
  height: 141px;
  position: absolute;
}